.sc-widget-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.widget-header {
    margin-left: 15px;
    max-width: 60vw;
}

.widget-title {
    font-size: 1.5em;
    font-weight: bold;
}

.site-background-img {
    position: fixed;
    height: 100vh;
    min-width: 120vw;
    background-repeat: round;
    background-image: url(https://images.unsplash.com/photo-1481086330130-7c3b5b09c567?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
}

.brown-color {
    background-color: #654322 !important;
}

.main-body-wrapper {
    position: absolute;
    background-color: rgba(266, 92, 87, 0.6);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 80vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}